@use '../variables';

.infos-bar {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    background-color: variables.$textColor;
    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;
            
            b {
                display: block;
                font-size: 18px;
                color: variables.$secondaryTextColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;
            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (min-width: 640px) and (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}